<title>Cars</title><link rel='stylesheet' href='style.css' />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/dealerships-page">Dealerships</a>
    <a href="/orders-page">Orders</a>
    <a class="active" href="/cars-page">Cars</a>
    <a href="/parts-page">Parts</a>
    <a href="/suppliers-page">Suppliers</a>
    <a href="/carparts-page">Cars & Parts</a>
</div>
<div class="content">
    <h1>Cars</h1>
    <table id="cars-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        <tbody>

            {{#each data}}
            <tr data-value={{this.car_id}}>
                <td>{{this.car_id}}</td>
                <td>{{this.model_name}}</td>
                <td>{{this.color}}</td>
                <td>{{this.order_id}}</td>
                <td>{{this.dealership_name}}</td>
                <td><button onclick="deleteCar({{this.car_id}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h3>Add a Car</h3>
    <p>To add a new car, please enter their information below and click 'Submit'!</p>
    <form id="add-car-form-ajax">
        <label for="input-model_name">Model Name: </label>
        <input type="text" name="input-model_name" id="input-model_name">
        
        <label for="input-color">Color: </label>
        <input type="text" name="input-color" id="input-color">

        <label for="input-color">Order ID: </label>
        <select name="input-order_id" id="input-order_id">
                <option value="">Select an Order</option>
                {{#each orders}}
                <option value="{{this.order_id}}">{{this.order_id}}</option>
                {{/each}}
        </select>

        <input type="submit">
    </form>

    <h3>Search Using an HTML Form</h3>
    <p>Search by car model using the field below.</p>
    <form id="search-car-html" method='GET' action='/cars-page'>
        <label for="input-model_name">Search by Model: </label>
        <input type="text" name="model_name" id="input-model_name-html-search">
        
        <input type="submit">
        <a href='/cars-page'><button>Reset</button></a>
    </form>

    <h3>Updating A Car Form</h3>
    <p>To update a car select its ID from the drop-down menu on the left and enter its updated data.</p>
    <form id="update-car-form-ajax">

        <label for="input-car_id">Car ID: </label>
        <select name="input-car_id" id="mySelect">
            <option value="test">Select a Car</option>
            {{#each data}}
            <option value="{{this.car_id}}">{{this.car_id}}</option>
            {{/each}}
        </select>

        <label for="input-model_name">Model name: </label>
        <input type="text" id="input-model-name-update" name="input-model-name-update">

        <label for="input-color">Color: </label>
        <input type="text" id="input-color-update" name="input-color-update">

        <label for="input-order">Order ID: </label>
        <select name="input-order" id="input-order-update">
            <option>Select an Order:</option>
            {{#each orders}}
            <option value="{{this.order_id}}">{{this.order_id}}</option>
            {{/each}}
        </select>

        <input type="submit">

    </form>
</div>



{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_car.js"></script>
<script src="./js/add_car.js"></script>
<script src="./js/delete_car.js"></script>