<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>  
</head>

<body>
<!-- Navigation bar at top of page -->
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="/mytable-page">Custom Table</a>
        <a href="/about-page">About</a>
    </div>

<!-- Section of code to provide brief explanation of application -->    
    <div id="content">
        <h1>My Vacation Planner</h1>
        <p>&nbsp;</p>
        <h2 class="intro">
            Please select one of our popular vacation destinations to learn more about where you may like to visit!
            If you don't know where you want to go, be adventurous and select random. Upon selection, information
            on some of our favorite vacation destinations will be displayed. Hopefully we can help you find your
            next vacation destination with the simple click of a button! <br><br>
            For more detailed information on how it all works please select <a href="/about-page">here</a> or simply click
            the about tab in the navigation bar up top.
        </h2>
    </div>

    <table>
        <th>Destination Name</th>
        <th>Description</th>
        <th>Flag</th>
    {{#each data}}
        <tr>
            <td>{{this.destination_name}}</td>
            <td>{{this.destination_description}}</td>
            <td><img src="{{this.image_path}}" alt="Canadian Flag"></td>
        </tr>
    </table>
    <p>For more information on {{this.destination_name}} please visit <a href="https://www.wikipedia.org/wiki/{{this.destination_name}}">Wikipedia</a></p>
    {{/each}}
    <!-- Clear table/prompt user to ask if they are sure they want to continue -->
    <button  title="Clear the table and start from scratch!" onClick="clearTable()">Clear Result</button>
</body>

<script src="./js/home-showtable.js"></script>